    <!-- PAGE | BLOG -->
    <div class="pages page-blog" id="page-blog-list">
        <div class="container">
            <!-- Header -->
            <header>
            </header>
            <!-- End Header -->

            <div class="row-fluid">
                <div class="blog-details">
                    <!-- Article -->
                    <article>
                        <!-- Blog image -->
                        <!-- <img src="http://placehold.it/900x450"> -->
                        
                        <!-- Blog title -->
                        <h5>
                            $title$<br/>
                            <small>$date$, in <a href="#">test</a></small>
                        </h5>
                        
                        <!-- Blog post description -->
                        $body$
                        
                    </article>
                    <!-- End Article -->
                </div>
            </div>
        </div>
    </div>
