    <!-- PAGE | BLOG -->
    <!-- TODO: page-blog-list -->
    <div class="pages page-blog" id="page-blog">
        <div class="container">
            <!-- Header -->
            <header>
                <!-- <h4 class="line-divider">Blog</h4> -->
                <!-- <h1>Recent Blog Posts</h1> -->
                <!-- <div class="row"> -->
                    <!-- <div class="span8 offset2"> -->
                        <!-- <div class="input-append"> -->
                          <!-- <input class="span5" id="appendedInputButton" type="text" placeholder="Search Blog"> -->
                          <!-- <button class="btn btn-primary sicon-search sicon-white" type="button"><i>Search</i></button> -->
                        <!-- </div> -->
                    <!-- </div> -->
                <!-- </div> -->
                
                <!-- Sub menu -->
                <nav class="submenu">
                    <ul>
                        $categories$
                    </ul>
                </nav>

                <!--
                <nav class="submenu">
                    <ul>
                        <li>
                            <a href="./pages/blog/blog.html">All</a>
                        </li>
                        <li>
                            <a href="./pages/blog/blog.html">Technology</a>
                        </li>
                        <li>
                            <a href="./pages/blog/blog.html">Design</a>
                        </li>
                        <li>
                            <a href="./pages/blog/blog.html">Future trends</a>
                        </li>
                        <li>
                            <a href="./pages/blog/blog.html">Photography</a>
                        </li>
                        <li>
                            <a href="./pages/blog/blog.html">Other</a>
                        </li>
                    </ul>
                </nav>
                -->
            </header>
            <!-- End Header -->
            
            <!-- Article -->
            <!-- <article> -->
                <!-- Blog articles -->
                <!-- <ul class="thumbnails"> -->
                    <!-- [> Blog post <] -->
                    <!-- <li class="span4"> -->
                    
                        <!-- [> Blog image <] -->
                        <!-- <a href="./pages/blog/blog_1.html"> -->
                            <!-- <img src="http://placehold.it/390x300" alt="Treble"> -->
                        <!-- </a> -->
                        
                        <!-- [> Blog title <] -->
                        <!-- <h5> -->
                            <!-- Blog Post Title<br/> -->
                            <!-- <small>April 10, 2013</small> -->
                        <!-- </h5> -->
                        
                        <!-- [> Blog post description <] -->
                        <!-- <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p> -->
                        
                        <!-- [> Blog read more <] -->
                        <!-- <div class="read-more"> -->
                            <!-- <a href="./pages/blog/blog_1.html">Read More...</a> -->
                        <!-- </div> -->
                    <!-- </li> -->
                    <!-- <li class="span4"> -->
                        <!-- <a href="./pages/blog/blog_2.html"> -->
                            <!-- <img src="http://placehold.it/390x300" alt="Treble"> -->
                        <!-- </a> -->
                        <!-- <h5> -->
                            <!-- Blog Post Title<br/> -->
                            <!-- <small>April 10, 2013</small> -->
                        <!-- </h5> -->
                        <!-- <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p> -->
                        <!-- <div class="read-more"> -->
                            <!-- <a href="./pages/blog/blog_2.html">Read More...</a> -->
                        <!-- </div> -->
                    <!-- </li> -->
                    <!-- <li class="span4"> -->
                        <!-- <a href="./pages/blog/blog_3.html"> -->
                            <!-- <img src="http://placehold.it/390x300" alt="Treble"> -->
                        <!-- </a> -->
                        <!-- <h5> -->
                            <!-- Blog Post Title<br/> -->
                            <!-- <small>April 10, 2013</small> -->
                        <!-- </h5> -->
                        <!-- <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p> -->
                        <!-- <div class="read-more"> -->
                            <!-- <a href="./pages/blog/blog_3.html">Read More...</a> -->
                        <!-- </div> -->
                    <!-- </li> -->
                    <!-- <li class="span4"> -->
                        <!-- <a href="./pages/blog/blog_4.html"> -->
                            <!-- <img src="http://placehold.it/390x300" alt="Treble"> -->
                        <!-- </a> -->
                        <!-- <h5> -->
                            <!-- Blog Post Title<br/> -->
                            <!-- <small>April 10, 2013</small> -->
                        <!-- </h5> -->
                        <!-- <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p> -->
                        <!-- <div class="read-more"> -->
                            <!-- <a href="./pages/blog/blog_4.html">Read More...</a> -->
                        <!-- </div> -->
                    <!-- </li> -->
                    <!-- <li class="span4"> -->
                        <!-- <a href="./pages/blog/blog_5.html"> -->
                            <!-- <img src="http://placehold.it/390x300" alt="Treble"> -->
                        <!-- </a> -->
                        <!-- <h5> -->
                            <!-- Blog Post Title<br/> -->
                            <!-- <small>April 10, 2013</small> -->
                        <!-- </h5> -->
                        <!-- <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p> -->
                        <!-- <div class="read-more"> -->
                            <!-- <a href="./pages/blog/blog_5.html">Read More...</a> -->
                        <!-- </div> -->
                    <!-- </li> -->
                    <!-- <li class="span4"> -->
                        <!-- <a href="./pages/blog/blog_6.html"> -->
                            <!-- <img src="http://placehold.it/390x300" alt="Treble"> -->
                        <!-- </a> -->
                        <!-- <h5> -->
                            <!-- Blog Post Title<br/> -->
                            <!-- <small>April 10, 2013</small> -->
                        <!-- </h5> -->
                        <!-- <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p> -->
                        <!-- <div class="read-more"> -->
                            <!-- <a href="./pages/blog/blog_6.html">Read More...</a> -->
                        <!-- </div> -->
                    <!-- </li> -->
                <!-- </ul> -->
            <!-- </article> -->
            <!-- End Article -->
            <div class="row-fluid">
                <div class="blog-details">
    
                    $for(blogs)$

                    <!-- Article -->
                    <article>
                        <!-- Blog image -->
                        <!-- <a href="blog_1.html"> -->
                            <!-- <img src="http://placehold.it/900x450"> -->
                        <!-- </a> -->
                        
                        <!-- Blog title -->
                        <h5>
                            <a href="$url$">$title$</a><br/>
                            <small>$date$, in <a href="#">$category$</a></small>
                        </h5>
                        
                        <!-- Blog post description -->
$body$
                        
                        <!-- Blog read more -->
                        <div class="read-more">
                            <a href="$url$"">Read More...</a>
                        </div>
                        
                        <!-- Blog comments -->
                        <div class="comments">
                            <a href="#">4 comments</a>
                        </div>
                    </article>
                    <!-- End Article -->

                    $endfor$

                    <!-- Pagination -->
                    <div class="pagination center">
                        <ul>
$if(previousPage)$
                            <li><a href="$previousPage$">Prev</a></li>
$endif$
$if(page1)$
    $if(page1a)$
                            <li class="active"><span>$page1n$</span></li>
    $else$
                            <li><a href="$page1$">$page1n$</a></li>
    $endif$
$endif$
$if(page2)$
    $if(page2a)$
                            <li class="active"><span>$page2n$</span></li>
    $else$
                            <li><a href="$page2$">$page2n$</a></li>
    $endif$
$endif$
$if(page3)$
    $if(page3a)$
                            <li class="active"><span>$page3n$</span></li>
    $else$
                            <li><a href="$page3$">$page3n$</a></li>
    $endif$
$endif$
$if(page4)$
    $if(page4a)$
                            <li class="active"><span>$page4n$</span></li>
    $else$
                            <li><a href="$page4$">$page4n$</a></li>
    $endif$
$endif$
$if(page5)$
    $if(page5a)$
                            <li class="active"><span>$page5n$</span></li>
    $else$
                            <li><a href="$page5$">$page5n$</a></li>
    $endif$
$endif$
$if(nextPage)$
                            <li><a href="$nextPage$">Next</a></li>
$endif$

                        </ul>
                    </div>
                </div>
                <!-- <div class="span4 blog-list-right"> -->
                    <!-- [> Latest blog posts block <] -->
                    <!-- <div class="block"> -->
                        <!-- <h6>Lates blog posts</h6> -->
                        <!-- <ul class="simple-link-list"> -->
                            <!-- <li> -->
                                <!-- <a href="blog_1.html" class="active">Blog post title 1</a> -->
                            <!-- </li> -->
                            <!-- <li> -->
                                <!-- <a href="blog_2.html">Blog post title 2</a> -->
                            <!-- </li> -->
                            <!-- <li> -->
                                <!-- <a href="blog_3.html">Blog post title 3</a> -->
                            <!-- </li> -->
                            <!-- <li> -->
                                <!-- <a href="blog_4.html">Blog post title 4</a> -->
                            <!-- </li> -->
                            <!-- <li> -->
                                <!-- <a href="blog_5.html">Blog post title 5</a> -->
                            <!-- </li> -->
                            <!-- <li> -->
                                <!-- <a href="blog_6.html">Blog post title 6</a> -->
                            <!-- </li> -->
                        <!-- </ul> -->
                    <!-- </div> -->
                    
                    <!-- [> Tags <] -->
                    <!-- <div class="block"> -->
                        <!-- <h6>Categories</h6> -->
                        <!-- <nav class="submenu"> -->
                            <!-- <ul> -->
                                <!-- <li> -->
                                    <!-- <a href="./blog.html" class="active">All</a> -->
                                <!-- </li> -->
                                <!-- <li> -->
                                    <!-- <a href="./blog.html">Technology</a> -->
                                <!-- </li> -->
                                <!-- <li> -->
                                    <!-- <a href="./blog.html">Design</a> -->
                                <!-- </li> -->
                                <!-- <li> -->
                                    <!-- <a href="./blog.html">Future trends</a> -->
                                <!-- </li> -->
                                <!-- <li> -->
                                    <!-- <a href="./blog.html">Photography</a> -->
                                <!-- </li> -->
                                <!-- <li> -->
                                    <!-- <a href="./blog.html">Other</a> -->
                                <!-- </li> -->
                            <!-- </ul> -->
                        <!-- </nav> -->
                    <!-- </div> -->
                    
                    <!-- [> Twitter <] -->
                    <!-- <div class="block"> -->
                        <!-- <h6>Twitter</h6> -->
                        <!-- <div class="twitterfeed"></div> -->
                    <!-- </div> -->
                <!-- </div> -->
            </div>
            <!-- Footer -->
            <footer>
                <!-- More blog posts -->
                <!-- <div class="show-more-cube"> -->
                    <!-- <a href="./pages/blog/blog.html"><span>All Blog<br/>Posts</span></a> -->
                <!-- </div> -->
            </footer>
            <!-- End Footer -->
        </div>
    </div>
    <!-- END PAGE | BLOG -->

