    <!-- PAGE | BLOG -->
    <div class="pages page-blog" id="page-blog-list">
        <div class="container">
            <!-- Header -->
            <header>
            </header>
            <!-- End Header -->

            <div class="row-fluid">
                <div class="blog-details">
                    <!-- Article -->
                    <article>
                        <!-- Blog image -->
                        <!-- <img src="http://placehold.it/900x450"> -->
                        
                        <!-- Blog title -->
                        <h5>
                            $title$<br/>
                            <small>$date$, in <a href="#">$category$</a></small>
                        </h5>
                        
                        <!-- Blog post description -->
                        $body$
                        
                    </article>
                    <!-- End Article -->

                    <!-- START: Livefyre Embed -->
                    <div id="livefyre-comments"></div>
                    <script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
                    <script type="text/javascript">
                    (function () {
                        var articleId = fyre.conv.load.makeArticleId(null);
                        fyre.conv.load({}, [{
                            el: 'livefyre-comments',
                            network: "livefyre.com",
                            siteId: "362791",
                            articleId: articleId,
                            signed: false,
                            collectionMeta: {
                                articleId: articleId,
                                url: fyre.conv.load.makeCollectionUrl(),
                            }
                        }], function() {});
                    }());
                    </script>
                    <!-- END: Livefyre Embed -->

                </div>
            </div>
        </div>
    </div>
