<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>$title$</title>

		$if(reveal)$
		<link rel="stylesheet" href="/reveal.js/reset.css">
		<link rel="stylesheet" href="/reveal.js/reveal.css">
		<link rel="stylesheet" href="/reveal.js/theme/$theme$.css" id="theme">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="/reveal.js/plugin/highlight/monokai.css" id="highlight-theme">
		$endif$
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				$body$
			</div>
		</div>

		$if(reveal)$
		<script src="/reveal.js/reveal.js"></script>
		<script src="/reveal.js/plugin/notes/notes.js"></script>
		<script src="/reveal.js/plugin/markdown/markdown.js"></script>
		<script src="/reveal.js/plugin/highlight/highlight.js"></script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				hash: true,

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
			});
		</script>
		$endif$
	</body>
</html>
