<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="referrer" content="no-referrer">

        <!-- Enable responsiveness on mobile devices-->
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" /> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

        <title>Gisli | $polish(page.title)$</title>

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W95TH5W');</script>
        <!-- End Google Tag Manager -->

        <meta property="og:title" content="$title$" />
        <meta name="twitter:title" content="$title$" />

        $if(page.description)-$
        <meta name="description" content="$page.description$">
        <meta property="og:description" content="$page.description$">
        <meta name="twitter:description" content="$page.description$">
        $-endif$

        <meta property="og:site_name" content="$page.title$" />
        <meta property="og:url" content="/" />

        <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
        <link rel="stylesheet" href="/css/base.css" />
        <link rel="stylesheet" href="/css/custom.css" />
        <link rel="stylesheet" href="/css/syntax/kate.css" />
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link href="/css/fontawesome/fontawesome.css" rel="stylesheet">
        <link href="/css/fontawesome/brands.css" rel="stylesheet">
        <link href="/css/fontawesome/solid.css" rel="stylesheet">

        <link rel='icon' type='image/x-icon' href="/icon48x48.png" />
        <link rel="apple-touch-icon" sizes="48x48" href="/icon48x48.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/icon72x72.png" />
        <link rel="apple-touch-icon" sizes="96x96" href="/icon96x96.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/icon144x144.png" />
        <link rel="apple-touch-icon" sizes="192x192" href="/icon192x192.png" />
        <!-- <link rel="apple-touch-icon" sizes="256x256" href="" /> -->
        <!-- <link rel="apple-touch-icon" sizes="384x384" href="" /> -->
        <!-- <link rel="apple-touch-icon" sizes="512x512" href="" /> -->

        <link rel="alternate" type="application/atom+xml" title="$page.title$" href="/atom.xml">
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W95TH5W"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <a href="#main" class="skip-link p-screen-reader-text">Skip to content</a>
        <header class="profile">
            <a class="profile-icon" href="/">
                <img src="/icon72x72.png" alt="profile picture">
            </a>
            <nav class="header">
                <!-- <a href="/1/">Blog</a> -->
                <a href="/about/">About</a>
                <a href="/decks/">Decks</a>
            </nav>
        </header>

        <main id="main" class="l-main">
        $body$
        </main>

     
      <footer class="l-footer">
          <p class="p-copyright">
              Copyright <i class="fas fa-heart" style="color: red;"></i> Gísli Kristjánsson 2020
          </p>
      </footer>

      <!-- Global site tag (gtag.js) - Google Analytics -->
      $if(showdeadcode)$
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.analytics }}"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', '{{ config.extra.analytics }}');
      </script>
      $endif$
      <link rel="stylesheet" href="/katex/katex.min.css">
      <script defer src="/katex/katex.min.js"></script>
      <script type="text/javascript" script defer src="/katex/auto-render.min.js" onload="renderMathInElement(document.body);"></script>
    </body>
</html>
            
