<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<meta name="verify-v1" content="AgvlYeIC/dPDGWqeASTU5HvKpWVEYc7Qqtk6rj1m+DU=" />
<title>$pageTitle$</title>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
<!-- <script type="text/javascript" src="/lib/jquery-ui-personalized-1.6rc2.min.js"></script> -->
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/css/custom.css"/>
<!-- <link rel="stylesheet" href="/css/jquery-ui-themeroller.css"/> -->
<link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/gisli-hamstur-is?format=xml" title="$title$"/>
</head>
<body>

<div id="header">
  
  <h1><a href="/"><span class="orange">.:</span> Gísli Kristjánsson</a></h1>
  <!-- <h2>"jack of all trades, master of none"</h2> -->
  
  <ul id="nav">
    <!-- <li><a href="/about/">About</a></li> -->
    <!-- <li><a href="/photos/">Photos</a></li> -->
    <!-- <li><a href="/projects/">Projects</a></li> -->
  </ul>
  
</div>

<div id="container">
  
<div id="left">

  <h1 class="heading">$bodyTitle$</h1>
  <span id="content">$body$</span>
  &nbsp;
</div>

<div id="right">
  
  <!-- <h1>About</h1> -->
  <br><br> 
  <p><img id="portrait" src="http://www.google.com/s2/photos/public/AIbEiAIAAABECNmn8sjy-4iN4QEiC3ZjYXJkX3Bob3RvKig4M2Y2OWFmYzI2NjExYzM0Zjc1YTA5YmUwNTYxZjhiYzE0OGMxNzI5MAEexe_-Qq4kcLlUejbEenRYBnyDQg" width="96" height="96"/><i>My name is Gisli and I am working on my <a href="http://appvise.me">startup</a>.</i>
  </p>
  <br>
  <p>  <a href="http://feeds.feedburner.com/gisli-hamstur-is?format=xml" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon32x32.png" alt="" border="0" /></a>  <a href="http://www.facebook.com/gisli.kristjansson"><img src="/images/icons/facebook.png" height="32" align="bottom" border="0"/></a>  <a href="http://www.youtube.com/user/gislikristjans"><img src="/images/icons/youtube.png" height="32" border="0"/></a>  <a href="http://twitter.com/gislik"><img src="/images/icons/twitter.png" height="32" border="0"/></a> </p> 
  <!-- <p> -->
  <!-- <a id="about" heading="Um vefinn" href="/tech/">The tech driving this blog</a> -->
  <!-- </p> -->

<div class="hr"></div>

<h1>Tag cloud</h1>
<br />
$tagcloud$

<div>
</div>

<div class="hr"></div>

<h1>On Twitter</h1>

<ul id="twitterItems" class="feed"></ul>
<a id="twitterItemsMore" href="http://twitter.com/gislik" class="hidden">Twitter-síðan mín</a>

<div class="hr"></div>

<h1>Interesting</h1>

<ul id="sharedItems" class="feed snippet"></ul>
<a id="sharedItemsMore" href="http://www.google.com/reader/shared/03578015985020084768" class="hidden">My Google Reader</a>

<div class="hr"></div>

<h1>Links</h1>

<ul class="links">
  <li><a href="http://haskell.org">Haskell</a></li>
  <li><a href="http://www.realworldhaskell.org/blog/">Real World Haskell</a></li>
  <li><a href="http://jaspervdj.be/hakyll/">Hakyll</a></li>
  <li><a href="http://clojure.org/">Clojure</a></li>
</ul>

<div class="hr"></div>

</div>

<div id="clear"></div>

</div>


<div id="copyright">&copy;2012 Gísli Kristjánsson &nbsp; <a href="http://free-css-templates.gorotron.com">CSS template</a> by <a href="http://free-css-templates.gorotron.com">gorotron</a>.</div>

<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAbFex_4il6vVsj9li8xTKghRi_j0U6kJrkFvY4-OX2XYmEAa76BSmsop4Tt2MNHNzAadTFnxSasEUFA"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>

<script type="text/javascript" src="/lib/script.js"></script>
<script type="text/javascript">
jQuery(function() {
        setTimeout(function() {
	printRSSFeed("http://www.google.com/reader/public/atom/user/03578015985020084768/state/com.google/broadcast", "#sharedItems", 1, 
		function() {
			$("#sharedItemsMore").show();
		});
	printTwitterFeed("http://twitter.com/statuses/user_timeline/gislik.atom", 
		"#twitterItems", 1, 
		function() {
			$("#twitterItemsMore").show();
		});
	// $("a.proxyStatic[heading]").bind("ajax", staticHandler).click(id2url);	
	// $("a.proxyBlog[heading]").bind("ajax", blogHandler).click(id2url);
	// $("a.proxyPseudo").bind("ajax", pseudoHandler);
	// $("a.proxyAlbum[heading]").bind("ajax", albumHandler).click(id2url);
    // $("a.mailto").bind("click", mailHandler);
    }, 100);
});
</script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-5464683-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
