

                    <!-- Article -->
                    <article>
                        <!-- Blog image -->
                        <!-- <a href="blog_1.html"> -->
                            <!-- <img src="http://placehold.it/900x450"> -->
                        <!-- </a> -->
                        
                        <!-- Blog title -->
                        <h5>
                            <a href="$url$">$title$</a><br/>
                            <small>$date$, in <a href="#">test</a></small>
                        </h5>
                        
                        <!-- Blog post description -->
$body$
                        
                        <!-- Blog read more -->
                        <div class="read-more">
                            <a href="blog_1.html">Read More...</a>
                        </div>
                        
                        <!-- Blog comments -->
                        <div class="comments">
                            <a href="#">4 comments</a>
                        </div>
                    </article>
                    <!-- End Article -->

